{% extends "layout.html" %}

{% block title %}The Chat Room{% endblock %}

{% block content %}
  <h1>Gloat about all your riches here.</h1>

<p>Mirror mirror on the wall, who is the wealthiest of them all?</p>

<pre>
{{ dump_user_data }}
</pre>

doc = {“key1”:“value1”, “key2”:“value2”}
collection.insert_one(doc)

<div class="container">
  <form>
    <div class="form-group">
      <label for="usr">Type anything here:</label>
      <input type="text" class="form-control" id="usr">
    </div>
  </form>
</div>

{% endblock %}
